.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 91.5%;
  margin: 0;
} 
  
.mat-toolbar{
  background-image: linear-gradient(to top, #e6e9f0 0%, var(--color-5) 2%);
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2%;
  background-color: #03A9F4;
  color:  #fff;
  text-align: center;
  margin: 0px;
  }

  .logo-image {
    height: 50px; /* Ajusta la altura deseada */
    width: auto; /* Ajusta el ancho automático para mantener la proporción */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
    margin-top: 5px;
  }