

<section class="landing-section">
  <div class="landing-content">
    <h1>Bienvenido a nuestra plataforma</h1>
    <img src="./assets/img/logo1.png" alt="Logo" class="logo-image">
    <hr>
    <p>
      Ayudamos a los padres y educadores a proporcionar una educación de calidad y desarrollo integral para los niños en la etapa de primera infancia.
      En <strong>Acooweb</strong>, estamos comprometidos a brindarte una experiencia educativa excepcional de la mano con la tecnología. Nuestra misión es ofrecer un espacio virtual lleno de diversión donde puedas explorar, aprender  y crear a tu propio ritmo. Acooweb es tu compañero confiable en el viaje del conocimiento.
    </p>
    <h3><strong>¡Un mundo, una nueva creación en Acooweb!</strong></h3>
 
    <button mat-fab extended color="accent" (click)="ingresar()" >
      <mat-icon>favorite</mat-icon>
      Ingresar
    </button>
    
  </div>
</section>
<section>
  
</section>

<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="large"
  color="#03A9F4"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>
