<section class="landing-section">
  <div class="landing-content">
    <h1>Bienvenido a nuestra plataforma  <strong>AcooWeb</strong></h1>
    <p>
      Ayudamos a los padres y educadores a proporcionar una educación de calidad y desarrollo integral para los niños en la etapa de primera infancia.
    </p>
 
    <button mat-fab extended color="accent" (click)="ingresar()" >
      <mat-icon>favorite</mat-icon>
      Ingresar
    </button>
    
  </div>
</section>

<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="large"
  color="#e91e63"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Espera un momento...</p>
</ngx-spinner>
