.landing-section {
    background-color: #f0f0f0;
    padding: 50px;
    text-align: center;
  }
  
  .landing-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .landing-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .landing-content p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }

  .logo-image {
    height: 100px; /* Ajusta la altura deseada */
    width: auto; /* Ajusta el ancho automático para mantener la proporción */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
    margin-top: 5px;
  }
  