
<ul>
    <li>
        <a routerLink="/auth/login">Ir a Login...</a>
    </li>
    <li>
        <a routerLink="/auth/register">Ir a Register...</a>
    </li>
    <br>
    <li>
        <a routerLink="/start/home">Ir a home...</a>
    </li>
    <br>
    <li>
        <a routerLink="/customer/search">Ir a busqueda de customer...</a>
    </li>
    <li>
        <a routerLink="/customer/list">Ir a lista de customer...</a>
    </li>
    <li>
        <a routerLink="/customer/add">Ir a agregar customer...</a>
    </li>
    <li>
        <a routerLink="/customer/edit/:id">Ir a editar customer...</a>
    </li>
    <li>
        <a routerLink="/customer/:id">Ir a customer...</a>
    </li>
</ul>